[user]
	email = lucasrizzini@hotmail.com
	name = Lucas Rizzini
[alias]
	stun = status -unormal
[status]
	showUntrackedFiles = no
[core]
	quotePath = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
