[Desktop Entry]
Exec=/home/lucas/Documentos/scripts/right_click_remap.sh
Icon=application-x-shellscript
Name=right_click_remap.sh
Type=Application
X-KDE-AutostartScript=true
