[Desktop Entry]
Name=Deceit
Comment=Play this game on Steam
Exec=steam steam://rungameid/466240
Icon=steam_icon_466240
Terminal=false
Type=Application
Categories=Game;
