[Desktop Entry]
Name=Deiland
Comment=Play this game on Steam
Exec=steam steam://rungameid/760620
Icon=steam_icon_760620
Terminal=false
Type=Application
Categories=Game;
