[Desktop Entry]
Comment[pt_BR]=
Comment=
Exec=env WINEDEBUG=-all WINEPREFIX=/home/lucas/.wine_ea_app/ gamemoderun /mnt/archlinux/temp_stuff/lutris-GE-Proton8-8-x86_64/bin/wine '/home/lucas/.wine_ea_app/drive_c/Program Files/Electronic Arts/EA Desktop/EA Desktop/EALauncher.exe'
GenericName[pt_BR]=
GenericName=
Icon=8A48_EALauncher.0
MimeType=
Name[pt_BR]=EA APP
Name=EA APP
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
