[Desktop Entry]
Comment[pt_BR]=
Comment=
Exec=env WINEDEBUG=-all /usr/bin/legendary launch 9d2d0eb64d5c44529cece33fe2a46482 --wine=/mnt/archlinux/temp_stuff/lutris-GE-Proton8-8-x86_64/bin/wine --wine-prefix=/home/lucas/.wine_gtav
GenericName[pt_BR]=
GenericName=
Icon=/mnt/archlinux/Games/GTAV/gta 5.ico
MimeType=
Name[pt_BR]=GTA V
Name=GTA V
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
