[Desktop Entry]
Categories=System;Settings;Utility;
Comment[pt_BR]=Control your computer with ease using application profiles
Comment=Control your computer with ease using application profiles
Comment[bg]=Управлявайте компютъра си с лекота, изполвайки профили за програмите ви
Comment[es_ES]=Controle su computadora fácilmente usando perfiles de aplicaciones
Comment[ru]=Управляйте своим оборудованием с легкостью, используя профили приложений
Exec=corectrl
GenericName[pt_BR]=Core control
GenericName=Core control
GenericName[bg]=Централен Контрол
GenericName[es_ES]=Control central
GenericName[ru]=Центральный контроль
Icon=corectrl
Keywords=core;control;system;hardware;
MimeType=
Name[pt_BR]=CoreCtrl
Name=CoreCtrl
Path=
StartupNotify=true
StartupWMClass=corectrl
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
