[Desktop Entry]
Comment=
Exec=env MANGOHUD_CONFIG=full WINEPREFIX=/home/lucas/.wine_ea_app/ gamemoderun /mnt/archlinux/temp_stuff/lutris-GE-Proton8-8-x86_64/bin/wine '/mnt/ssd_128GB/Ori.and.the.Will.of.the.Wisps.v26.05.2022/Ori and the Will of the Wisps/oriwotw.exe'
Icon=/mnt/ssd_128GB/Ori.and.the.Will.of.the.Wisps.v26.05.2022/cropped-favicon-Ori-v1.png
Name=Ori and the Will of the Wisps
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
