[Desktop Entry]
Comment[pt_BR]=
Comment=
Exec=/usr/bin/scrcpy -d
GenericName[pt_BR]=
GenericName=
Icon=scrcpy
MimeType=
Name[pt_BR]=scrcpy
Name=scrcpy
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
