[Desktop Entry]
Name=Ultra Street Fighter IV
Comment=Play this game on Steam
Exec=steam steam://rungameid/45760
Icon=steam_icon_45760
Terminal=false
Type=Application
Categories=Game;
