[Desktop Entry]
Comment=
Exec=/usr/bin/vncviewer 192.168.0.201
Icon=tigervnc
Name=VNC - Android
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
