[Desktop Entry]
Comment=
Exec=/home/lucas/Documentos/scripts/waydroid.sh
Icon=waydroid
Name=Waydroid script
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
