[Desktop Entry]
Exec=xrandr --output DP-2 --auto
Name=xrandr --output DP-2 --auto
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
